{% extends "layout.html" %} {% block title %} {% endblock %} {% block main %}
<div class="container">
  <nav class="d-flex justify-content-around bg-info align-content-center">
    <div class="logo d-flex justify-content-center align-items-center">
      <img
        src="https://similarpng.com/_next/image/?url=https%3A%2F%2Fimage.similarpng.com%2Ffile%2Fsimilarpng%2Fvery-thumbnail%2F2021%2F09%2FOnline-shopping-logo-design-template-on-transparent-background-PNG.png&w=3840&q=75"
        alt="logo"
      />
    </div>
    <div class="services d-flex justify-content-center align-items-center gap-5 p-3">
      <a href="/products">Products</a><a href="/buy">Buy</a
      ><a href="./sell">Sell</a><a href="/history">History</a
      >
    </div>
    <div class="account fs-2 d-flex justify-content-center align-items-center text-white gap-lg-5"><i class="fa-solid fa-cart-shopping"></i><a class="text-white" href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
  </nav>
</div>
{%endblock %}
