{% extends "layout.html" %} {% block title %} {% endblock %} {% block main %}

<form action="/login" method="post">
  <input
    type="text"
    placeholder="Enter Username"
    autofocus
    required
    name="username"
  />
  <input
    type="password"
    placeholder="Enter password"
    required
    name="password"
  />
  <input class="bg-primary text-white border-0" type="submit" value="Submit" />
    {% if error %}
    <p class="text-danger">{{ error }}</p>
    {% endif %}
</form>
{% endblock %}
